{% extends '@SingApp/layouts/base.html.twig' %}
{% block body %}
    {% block stylesheets %}
        <style>
            #appbundle_instagram_account_loginForm {
                display: none;
            }
        </style>
    {% endblock %}
    <div class="products">
        {% include '@SingApp/layouts/navigation.html.twig' %}
        <div class="messages">

            <div class="card">
                <div class="product-card-header">
                    <div class="card-header-title">
                        <span class="card-title"></span>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.login) }}
                        {{ form_row(form.password) }}
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button class="btn btn-default" onclick="window.history.go(-1); return false;">Cancel</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var type = document.getElementById('appbundle_system_settings_type');
            var form = document.getElementById('appbundle_system_settings');
            var typeValue = type.value;

            var updateInputType = function (type, form) {
                var value = document.getElementById('appbundle_system_settings_value');

                if (type === 'color') {
                    var element = document.createElement('input');
                    element.setAttribute('id', 'appbundle_system_settings_value');
                    element.setAttribute('name', 'appbundle_system_settings[value]');
                    element.setAttribute('type', 'color');
                    element.setAttribute('required', 'required');
                    element.setAttribute('class', 'form-control border-input form-control');
                    element.setAttribute('value', value.value);
                    value.remove();

                }
                else {
                    var element = document.createElement('textarea');
                    element.setAttribute('id', 'appbundle_system_settings_value');
                    element.setAttribute('name', 'appbundle_system_settings[value]');
                    element.setAttribute('required', 'required');
                    element.setAttribute('class', 'form-control border-input form-control');
                    element.setAttribute('placeholder', 'Text');
                    element.innerText = value.value;
                    value.remove();

                }

                var div = document.createElement('div');
                div.setAttribute('class', 'form-group');
                div.appendChild(element);

                form.appendChild(div);
            };

            type.onchange = function (ev) {
                updateInputType(ev.target.value, form);
            };

            updateInputType(typeValue, form);


        });
    </script>
{% endblock %}