{% extends '@SingApp/layouts/base.html.twig' %}


{% block body %}
    <div class="container login">
        <div class="login-form">
            <div class="form-signin-heading">
                <span>Truelocal credential for sync</span>
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a href="{{ url('truelocal-create', app.request.query.all) }}" style="float:left">Create new account</a>
            <a href="{{ url('index', app.request.query.all) }}" style="float:right">Back to list</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        {% if error is defined %}
            $.notify({
                title: "<strong>Error!</strong> ",
                message: '{{ error }}<a href="{{ url('index', app.request.query.all) }}" style="float:right">Back to list</a>'
            }, {
                type: 'danger',
                delay: 5000
            });
        {% endif %}
        {% if app.request.query.all.success is defined %}
        {% set success = app.request.query.all.success %}
            $.notify({
                title: "<strong>Success ! </strong> ",
                message: '{{ success }}<a href="{{ url('index', app.request.query.all) }}" style="float:right">Back to list</a>'
            }, {
                type: 'success',
                delay: 5000
            });
        {% endif %}
    </script>
{% endblock %}