{% set siteSettings = siteSettings() %}
{% if siteSettings.colorScheme == 'blue' %}
    {% set color = '#337AB7' %}
{% elseif siteSettings.colorScheme == 'cyan' %}
    {% set color = '#20A7A2' %}
{% elseif siteSettings.colorScheme == 'green' %}
    {% set color = '#139D68' %}
{% elseif siteSettings.colorScheme == 'magenta' %}
    {% set color = '#B733AD' %}
{% elseif siteSettings.colorScheme == 'red' %}
    {% set color = '#E14250' %}
{% elseif siteSettings.colorScheme == 'yellow' %}
    {% set color = '#DB7E00' %}
{% endif %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ asset('admin/vendor/simple-line-icons/css/simple-line-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/vendor/font-awesome/css/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/' ~ siteSettings.colorScheme ~ '/styles.css') }}">
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="{{ asset(''~siteSettings.logo~'' )}}" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">{{ mgilet_notification_unseen_count(app.user) }}</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset('admin/imgs/avatar-1.png') }}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">Admin</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="{{ url('admin-profile') }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="{{ url('admin-settings') }}" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Site settings
                    </a>

                    <a href="{{ url('logout') }}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="{{ url('admin-users') }}" class="nav-link {% if app.request.attributes.get('_route') in ['admin-users', 'admin-user-edit']%} active {% endif %}">
                            <i class="icon icon-people"></i> Users
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url('admin-products') }}" class="nav-link {% if app.request.attributes.get('_route') in ['admin-products', 'admin-product-edit']%} active {% endif %}">
                            <i class="icon icon-basket"></i> Products
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url('admin-orders') }}" class="nav-link {% if app.request.attributes.get('_route') in ['admin-orders']%} active {% endif %}">
                            <i class="icon icon-wallet"></i> Orders <span class="badge badge-pill badge-danger rounded-circle">{{ mgilet_notification_unseen_count(app.user) }}</span>
                        </a>
                    </li>

                    <li class="nav-title">More</li>

                    <li class="nav-item">
                        <a href="{{ url('admin-settings') }}" class="nav-link {% if app.request.attributes.get('_route') in ['admin-settings']%} active {% endif %}">
                            <i class="icon icon-settings"></i> Settings
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script src="{{ asset('admin/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('admin/vendor/popper.js/popper.min.js') }}"></script>
<script src="{{ asset('admin/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('admin/vendor/chart.js/chart.min.js') }}"></script>
<script src="{{ asset('admin/js/carbon.js') }}"></script>
<script src="{{ asset('admin/js/demo.js') }}"></script>
</body>
</html>
