<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Business Listening</title>

    <link rel="stylesheet" href="{{ asset('css/blue/style.css') }}">

    <!-- Bootsrap css -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- End Fontawesome -->


    <!-- Jquery -->
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <!-- End Jquery -->

    <!-- Jquery UI -->
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <!-- End Jquery UI -->

    {% if app.request.attributes.get('_route') != 'funnel' %}
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endif %}

    <!-- Bootstrap select -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-select.min.css') }}">
    <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
    <!-- End Bootstrap select -->

    {% if app.request.attributes.get('_route') == 'invites' %}
        <link rel="stylesheet" href="{{ asset('css/intlTelInput.min.css') }}">
        <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
    {% endif %}

    <link rel="stylesheet" href="https://static.reviewmgr.com/stylesheets/icons.css?v=1523047303367">

    {% block stylesheets %}{% endblock %}
</head>

<body data-gr-c-s-loaded="true">
<div class="wrap-container">
    <div>
        <header class="header">
            <nav>
                <div class="title">
                    <img src="" alt="" class="logo">
                </div>
                <ul class="nav nav-pills pull-right">
                    {% if app.user %}
                        <li class="link-container {% if app.request.attributes.get('_route') in ['index'] %}active{% endif %}">
                            <a class="link {% if app.request.attributes.get('_route') in ['index'] %}active-link{% endif %}"
                               href="{{ url('index', app.request.query.all) }}">Welcome {{ app.user.username }}</a>
                        </li>
                        <li class="link-container-line"></li>
                        <li class="link-container">
                            <a class="link" href="{{ url('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </div>
</div>
{% include '@SingApp/layouts/modals.html.twig' %}
{% block modal %}{% endblock %}
</body>

<!-- Bootstrap notify -->
<script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
<!-- End Bootstrap notify -->

<!-- Star rating -->
<link rel="stylesheet" href="{{ asset('css/star-rating-svg.css') }}">
<script src="{{ asset('js/jquery.star-rating-svg.min.js') }}"></script>
<!-- End Star rating -->

<script src="{{ asset('js/letterAvatar.js') }}"></script>

<script src="{{ asset('js/selectBusiness.js') }}"></script>

<!-- Tags input -->
<link rel="stylesheet" href="{{ asset('css/tags-input.css') }}">
<script src="{{ asset('js/tags-input.js') }}"></script>
<!-- End Tags input -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>

<script src="{{ asset('js/common.js') }}"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6NMVYn2rplTpyqotdkzqDwZ4m4mylD2E&libraries=places&callback=initAutocomplete"
        async defer></script>

{% block javascripts %}
{% endblock %}
</html>