{{ app.request.query.remove('error') }}
<div class="menu">
    <div class="selector-control">
        <div class="form-group">
            <label style="color: white">Select business</label>
            <select name="business" id="business" class="form-control">
                {% for business in businesses %}
                    {% if app.request.get('business') == business.id %}
                        <option value="{{ business.id }}"
                                selected>{{ business.name }}</option>
                    {% else %}
                        <option value="{{ business.id }}">{{ business.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <ul class="nav nav-pills nav-stacked menu-list">
        <li>
            <a class="menu-link {% if app.request.attributes.get('_route') in ['index'] %}selected{% endif %}"
               href="{{ url('index', app.request.query.all) }}">
                <div class="icon-container">
                    <i class="fas fa-comment menu-icon"></i>
                </div>
                <span class="link">Listings</span>
            </a>
        </li>
        <li>
            <a class="menu-link {% if app.request.attributes.get('_route') in ['interactions'] %}selected{% endif %}"
               href="{{ url('interactions', app.request.query.all) }}">
                <div class="icon-container">
                    <i class="fas fa-comment menu-icon"></i>
                </div>
                <span class="link">Interactions</span>
            </a>
        </li>
        <li>
            <a class="menu-link {% if app.request.attributes.get('_route') in ['instagram-post'] %}selected{% endif %}"
               href="{{ url('instagram-post', app.request.query.all) }}">
                <div class="icon-container">
                    <i class="fas fa-file-alt menu-icon"></i>
                </div>
                <span class="link">Social posts</span>
            </a>
        </li>
    </ul>
</div>