{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Site</th>
                <th>Created</th>
                <th>Attribution</th>
                <th>Rating</th>
                <th>Body</th>
                <th>Status</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td><a href="{{ path('reviews_show', { 'id': review.id }) }}">{{ review.id }}</a></td>
                <td>{{ review.site }}</td>
                <td>{% if review.created %}{{ review.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ review.attribution }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.body }}</td>
                <td>{{ review.status }}</td>
                <td>{{ review.tag }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reviews_show', { 'id': review.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reviews_edit', { 'id': review.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reviews_new') }}">Create a new review</a>
        </li>
    </ul>
{% endblock %}
