{% extends '@SingApp/layouts/base.html.twig' %}




{% block body %}
    <div class="container login">
        <div class="login-form">
            <div class="form-signin-heading">
                <span>Register</span>
            </div>
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button class ='form-control form-button btn-primary col-md-6' type="submit">Register</button>
            <a href="{{ url('authorization') }}">Back to Login</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}