{% extends '@SingApp/layouts/base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css"
                                                                                                                        rel="stylesheet"/>
{% endblock %}

{% block body %}
{% endblock %}
{% block modal %}
    <div class="modal fade in" style="display: block; padding-right: 15px;" id="createFirstBusinessModal" tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add your first business</h4>
                </div>
                <div class="modal-body" id="location_edit_modal" style="display: inline-block;">
                    {{ form_start(form) }}
                    <div class="row">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic Info
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#biz_details" aria-controls="biz_details" role="tab" data-toggle="tab">Business
                                    Details
                                </a>
                            </li>
                            <li role="presentation">
                                <a id="add-info-tab" href="#add_info" aria-controls="add_info" role="tab"
                                   data-toggle="tab">Additional
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        {{ form_start(form) }}
                        <div role="tabpanel" class="tab-pane fade in active" id="basic">
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.name) }}
                            </div>
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.category) }}
                            </div>
                            <div class="control-group col-md-12 col-sm-12">
                                {{ form_row(form.additionalCategories) }}
                            </div>
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.address) }}
                            </div>
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.phoneNumber) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="biz_details">
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.logo) }}
                            </div>
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.website) }}
                            </div>
                            <div class="control-group col-md-12 col-sm-12">
                                {{ form_row(form.description) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="add_info">
                            <div class="control-group col-md-12 col-sm-12">
                                <div class="control-group no-split">
                                    <label class="control-label no-split">Hours of Operation</label>

                                    <div class="day Monday">
                                        <p class="day-title">Monday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Monday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Monday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Monday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Monday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Monday][slots][][end]" value="07:30pm" onkeydown="return false" autocomplete="off">
                                            </div>

                                        </div>
                                        <div id="hours_closed" class="hide hours"></div>
                                    </div>
                                    <div class="day Tuesday">
                                        <p class="day-title">Tuesday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Tuesday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Tuesday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Tuesday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Tuesday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Tuesday][slots][][end]" value="07:30pm" onkeydown="return false" autocomplete="off">
                                            </div>

                                        </div>

                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                    <div class="day Wednesday">
                                        <p class="day-title">Wednesday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Wednesday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Wednesday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Wednesday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Wednesday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Wednesday][slots][][end]" value="07:30pm" onkeydown="return false" autocomplete="off" aria-invalid="false">
                                            </div>

                                        </div>

                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                    <div class="day Thursday">
                                        <p class="day-title">Thursday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Thursday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Thursday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Thursday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Thursday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Thursday][slots][][end]" value="07:30pm" onkeydown="return false" autocomplete="off">
                                            </div>

                                        </div>

                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                    <div class="day Friday">
                                        <p class="day-title">Friday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Friday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Friday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Friday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Friday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Friday][slots][][end]" value="07:30pm" onkeydown="return false" autocomplete="off">
                                            </div>

                                        </div>
                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                    <div class="day Saturday">
                                        <p class="day-title">Saturday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Saturday][type]" class="selectpicker-time">

                                            <option value="open" selected="&quot;selected&quot;">
                                                Open
                                            </option>
                                            <option value="closed">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours ">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Saturday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Saturday][slots][][start]" value="07:30am" onkeydown="return false" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Saturday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Saturday][slots][][end]" value="02:00pm" onkeydown="return false" autocomplete="off">
                                            </div>

                                        </div>
                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                    <div class="day Sunday">
                                        <p class="day-title">Sunday</p>


                                        <select id="biz-hour-type" name="singappbundle_businessinfo[openingHours][days][Sunday][type]" class="selectpicker-time">

                                            <option value="open">
                                                Open
                                            </option>
                                            <option value="closed" selected="&quot;selected&quot;">
                                                Closed
                                            </option>
                                        </select>
                                        <div id="hours_open" class="hours hide">
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Sunday_start_time" placeholder="Start time" name="singappbundle_businessinfo[openingHours][days][Sunday][slots][][start]" value="" onkeydown="return false" disabled="" autocomplete="off">
                                            </div>
                                            <div class="relative">
                                                <input type="text" class="loc_time selectpicker-time ui-timepicker-input" id="Sunday_end_time" placeholder="End time" name="singappbundle_businessinfo[openingHours][days][Sunday][slots][][end]" value="" onkeydown="return false" disabled="" autocomplete="off">
                                            </div>

                                        </div>
                                        <div id="hours_closed" class="hide hours"></div>

                                        <div class="dummy-div">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-md-12 col-sm-12">
                                {{ form_row(form.paymentOptions) }}
                            </div>

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="media">
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.video) }}
                            </div>
                            <div class="control-group col-md-6 col-sm-12">
                                {{ form_row(form.uploadedFiles) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#singappbundle_businessinfo_additionalCategories___name___nameCollection, #singappbundle_businessinfo_additionalCategories')
                .select2({width: '100%'});
        });
    </script>

    <script>
        $(".loc_time").timepicker({
            showDuration: !0,
            timeFormat: "h:ia"
        });

            function n(e, t) {
                var n = e.closest(".day"),
                    i = $(n).find("#hours_" + t).siblings(".hours");
                i.addClass("hide").end().removeClass("hide"), i.find("input").attr("disabled", "disabled"), $(n).find("#hours_" + t + " input").removeAttr("disabled")
            }

            function i() {
                var e = $(".Monday").find("#biz-hour-type")[0].value;
                $(".day").each(function () {
                    var t = $(this),
                        i = t.find("#biz-hour-type")[0],
                        r = t.find("#hours_" + e).find(".loc_time");
                    if ("closed" !== i.value) {
                        i.value = e, n(t, e);
                        for (var o = 0; o < r.length; o++) {
                            var a = $(".Monday").find("#hours_" + e).find(".loc_time"),
                                s = t.find("#hours_" + e).find(".loc_time");
                            s[o].value = a[o].value
                        }
                    }
                })
            }

            $(document).on("change", "#biz-hour-type", function () {
                i(), n(this, this.value)
            })

    </script>
{% endblock %}