{% extends '@SingApp/layouts/base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css"
          rel="stylesheet"/>
{% endblock %}
{#{% block body %}#}
    {#<script>#}
        {#window.fbAsyncInit = function () {#}
            {#FB.init({#}
                {#appId: '222245405057959',#}
                {#cookie: true,#}
                {#xfbml: true,#}
                {#version: 'v3.0'#}
            {#});#}

            {#FB.AppEvents.logPageView();#}

        {#};#}

        {#(function (d, s, id) {#}
            {#var js, fjs = d.getElementsByTagName(s)[0];#}
            {#if (d.getElementById(id)) {#}
                {#return;#}
            {#}#}
            {#js = d.createElement(s);#}
            {#js.id = id;#}
            {#js.src = "https://connect.facebook.net/en_US/sdk.js";#}
            {#fjs.parentNode.insertBefore(js, fjs);#}
        {#}(document, 'script', 'facebook-jssdk'));#}

        {#function checkLoginState() {#}
            {#FB.getLoginStatus(function(response) {#}
                {#if (response.status === 'connected') {#}
                    {#var accessToken = response.authResponse.accessToken;#}
                    {#var userId = response.authResponse.userID;#}
                    {#var settingsSring = 'token=' +  accessToken + '&userId=' + userId;#}
                    {#sendToken('facebook', settingsSring)#}
                {#}#}
                {#console.log(response);#}

            {#});#}
        {#}#}

        {#function sendToken(service, settingsSring) {#}
            {#var url = 'save-token';#}
            {#var params = "service=" + service + "&" + settingsSring;#}
            {#var req = new XMLHttpRequest();#}
            {#req.open('GET', url + '?' + params, true);#}
            {#req.send();#}
        {#}#}
    {#</script>#}

    {#<script>#}
        {#var GoogleAuth;#}
        {#var SCOPE = 'https://www.googleapis.com/auth/plus.business.manage';#}

        {#function handleClientLoad() {#}
            {#gapi.load('client:auth2', initClient);#}
        {#}#}

        {#function initClient() {#}

            {#gapi.client.init({#}
                {#'apiKey': 'AIzaSyA2ii4Jk-1gfp6btAenEw7guUV1n_iCPOI',#}
                {#'clientId': '662189537461-cqoa48iru0oulsg6uajl276efm0l9gc4.apps.googleusercontent.com',#}
                {#'scope': SCOPE#}
            {#}).then(function () {#}
                {#changeSigninStatus();#}
            {#});#}
        {#}#}

        {#function changeSigninStatus() {#}
            {#var GoogleAuth = gapi.auth2.getAuthInstance();#}
            {#var user = GoogleAuth.currentUser.get();#}
            {#var oauthToken = user.getAuthResponse().access_token;#}
            {#var settingsSring = 'token=' +  oauthToken;#}
            {#sendToken('google', settingsSring);#}
            {#if (GoogleAuth.isSignedIn.get()) {#}
                {#document.getElementById('google-connect').style.display = "none";#}
                {#document.getElementById('google-connected').style.display = "block";#}
            {#}#}
        {#}#}
    {#</script>#}
    {#<div>#}
        {#<span>Google</span>#}
        {#<button id="google-connect">#}
            {#Connect#}
        {#</button>#}
        {#<button id="google-connected" style="display: none">#}
            {#Connected#}
        {#</button>#}
        {#<hr>#}
    {#</div>#}
    {#<div>#}
        {#<span>Facebook</span>#}
        {#<fb:login-button#}
                {#scope="public_profile, email"#}
                {#onlogin="checkLoginState();">#}
        {#</fb:login-button>#}
        {#<button id="facebook-connected"#}
                {#style="display: none">Connected#}
        {#</button>#}
    {#</div>#}


    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
    {#<script async defer src="https://apis.google.com/js/api.js"#}
            {#onload="this.onload=function(){};handleClientLoad()"#}
            {#onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>#}

{#{% endblock %}#}



{% block body %}
    <div class="messages">

        <div class="card">
            <div class="product-card-header">
                <div class="card-header-title">
                    <span class="card-title">Your business listing report</span>
                </div>
                <div class="selector-control">
                    <div class="form-group">
                        <select name="business" id="business" class="form-control">
                            {% for business in businesses %}
                                {% if app.request.get('business') == business.id %}
                                    <option value="{{ business.id }}"
                                            selected>{{ business.name }}</option>
                                {% else %}
                                    <option value="{{ business.id }}">{{ business.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" data-toggle="modal"
                            data-target="#editBusinessModal">
                        Edit Business
                    </button>
                    <button class="btn btn-primary" data-toggle="modal"
                            data-target="#addBusinessModal">
                        Add Business
                    </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="black-card">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="listing-reports" style="display: flex">
                                    <div class="col-xs-12 col-sm-12 col-md-12 brand-section">
                                        <figure>
                                            {% set logo = 'images/edit-business-modal/missing.png' %}
                                            {% if currentBusiness.logo is not null  %}
                                                {% set logo = currentBusiness.logo %}
                                            {% endif %}
                                            <img width="100%"
                                                 src="{{ asset(logo) }}"
                                                 alt="Missing">
                                        </figure>
                                        <div class="col-xs-9 col-sm-9 col-md-9 brand-details">
                                            <h2>{{ currentBusiness.name }}</h2>
                                            <h3></h3>
                                            <div class="col-xs-12 col-sm-12 col-md-12 brand-contact-details mrt20 no-padding">
                                                <div class="col-xs-3 col-sm-3 col-md-3 brand-address no-padding">
                                                    <label for="address-label">Address &amp; Contact</label>
                                                    <address>
                                                        {{ currentBusiness.address }}
                                                    </address>
                                                </div>
                                                <div class="col-xs-9 col-sm-9 col-md-9 brand-description">
                                                    <label for="address-label" class="description">Business
                                                        Description</label>
                                                    <p>
                                                        {{ currentBusiness.description }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body row">
                <div class="col-md-12 list-item-container">
                    <div class="list-item clearfix col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="service-icon" src="/images/listing-icons/maps.google.com.png" alt=""
                                     width="25"
                                     height="25">
                                <p class="list-item-title">
                                    Google My Business
                                </p>
                            </div>
                            <div class="col-md-7">
                                <button class="btn btn-primary">
                                    Connect
                                </button>
                            </div>
                        </div>

                        <hr class="hr-line">
                        <div class="buttons">
                            <div class="synced">
                                <div class="btn-xs">
                                    <i class="fas fa-circle-notch fa-spin sync-in-progress"></i>
                                    <span>In progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 list-item-container">
                    <div class="list-item clearfix col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="service-icon" src="/images/listing-icons/www.bing.com.png" alt="" width="25"
                                     height="25">
                                <p class="list-item-title">
                                    Bing Places
                                </p>
                            </div>
                            <div class="col-md-7">
                                <button class="btn btn-primary">
                                    Connect
                                </button>
                            </div>
                        </div>

                        <hr class="hr-line">
                        <div class="buttons">
                            <div class="synced">
                                <div class="btn-xs">
                                    <i class="fas fa-circle-notch fa-spin sync-in-progress"></i>
                                    <span>In progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 list-item-container">
                    <div class="list-item clearfix col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="service-icon" src="/images/listing-icons/facebook.com.png" alt="" width="25"
                                     height="25">
                                <p class="list-item-title">
                                    Facebook
                                </p>
                            </div>
                            <div class="col-md-7">
                                <button class="btn btn-primary">
                                    Connect
                                </button>
                            </div>
                        </div>

                        <hr class="hr-line">
                        <div class="buttons">
                            <div class="synced">
                                <div class="btn-xs">
                                    <i class="fas fa-circle-notch fa-spin sync-in-progress"></i>
                                    <span>In progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 list-item-container">
                    <div class="list-item clearfix col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="service-icon" src="/images/listing-icons/yelp.com.png" alt="" width="25"
                                     height="25">
                                <p class="list-item-title">
                                    Yelp
                                </p>
                            </div>
                            <div class="col-md-7">
                                <button class="btn btn-primary">
                                    Connect
                                </button>
                            </div>
                        </div>

                        <hr class="hr-line">
                        <div class="buttons">
                            <div class="synced">
                                <div class="btn-xs">
                                    <i class="fas fa-circle-notch fa-spin sync-in-progress"></i>
                                    <span>In progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 list-item-container">
                    <div class="list-item clearfix col-md-12">
                        <div class="col-md-12">
                            <div class="col-md-5">
                                <img class="service-icon" src="/images/listing-icons/instagrame.com.png" alt=""
                                     width="25"
                                     height="25">
                                <p class="list-item-title">
                                    Instagram Business
                                </p>
                            </div>
                            <div class="col-md-7">
                                <button class="btn btn-primary">
                                    Connect
                                </button>
                            </div>
                        </div>

                        <hr class="hr-line">
                        <div class="buttons">
                            <div class="synced">
                                <div class="btn-xs">
                                    <i class="fas fa-circle-notch fa-spin sync-in-progress"></i>
                                    <span>In progress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="editBusinessModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit business</h4>
                </div>
                {{ form_start(businessFormEdit) }}
                <div class="modal-body">
                    {{ form_widget(businessFormEdit) }}
                    {% for photo in currentBusiness.photos %}
                        <img style="width: 12%" src="{{ asset(''~photo.image~'') }}">
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                {{ form_end(businessFormEdit) }}
            </div>
        </div>
    </div>
    <div class="modal fade" id="addBusinessModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit business</h4>
                </div>
                {{ form_start(businessForm) }}
                <div class="modal-body">
                    {{ form_widget(businessForm) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
                {{ form_end(businessForm) }}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            var html = '<img style="width: 12%" src="{{ asset(''~currentBusiness.logo~'') }}" >';
            $('#singappbundle_businessinfo_additionalCategories')
                .select2({width: '100%'});
            $('#singappbundle_businessinfo_logo').parent().append(html)
        });
    </script>
{% endblock %}