{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/intlTelInput.min.css') }}">
    <style>
        .buttons-click {
            display: inline-block;
            float: right;
            margin-top: 17px;
        }

        .required:after {
            content: " *";
        }
    </style>
{% endblock %}
{{ form_start(form, {'attr': {'class': 'add-business-class'}}) }}
{{ form_errors(form) }}
<div class="row">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic Info
            </a>
        </li>
        <li role="presentation">
            <a href="#biz_details" aria-controls="biz_details" role="tab" data-toggle="tab">Business
                Details
            </a>
        </li>
        <li role="presentation">
            <a id="add-info-tab" href="#add_info" aria-controls="add_info" role="tab"
               data-toggle="tab">Additional
            </a>
        </li>
        <li role="presentation">
            <a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media
            </a>
        </li>
    </ul>
</div>
<div class="tab-content" style="display: inline-block;">
    <div role="tabpanel" class="tab-pane fade in active" id="basic">
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.name) }}
        </div>
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.email) }}
        </div>
        <div class="control-group col-md-12 col-sm-12">
            {{ form_row(form.category) }}
        </div>
        <div class="control-group col-md-12 col-sm-12">
            {{ form_row(form.additionalCategories) }}
        </div>
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.address) }}
            <button type="button" class="close" style="top: 27px;position: absolute; right: 20px;"
                    onclick="document.getElementById('singappbundle_businessinfo_address').value = ''"><span
                        aria-hidden="true">&times;</span></button>
        </div>
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.phoneNumber) }}
            <span id="valid-msg" class="hide">✓ Valid</span>
            <span id="error-msg" class="hide">Invalid number</span>
        </div>
        <div class="buttons-click">
            <button class="btn btn-info btnNext">Next</button>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="biz_details">
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.logo) }}
        </div>
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.website) }}
        </div>
        <div class="control-group col-md-12 col-sm-12">
            {{ form_row(form.description) }}
        </div>
        <div class="buttons-click">
            <button class="btn btn-info btnNext">Next</button>
            <button class="btn btn-info btnPrevious">Previous</button>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="add_info">
        <div class="control-group col-md-12 col-sm-12">
            <div class="control-group no-split">
                <label class="control-label no-split required">Hours of Operation</label>
                {% for key, daySetting in jsonDecode(form.vars.value.openingHours) %}
                    <div class="day {{ key }}">
                        <p class="day-title">{{ key }}</p>
                        <select id="biz-hour-type"
                                name="singappbundle_businessinfo[openingHours][days][{{ key }}][type]"
                                class="selectpicker-time">

                            <option value="open"
                                    {% if daySetting['type'] == 'open' %}selected="&quot;selected&quot;"{% endif %}>
                                Open
                            </option>
                            <option value="closed"
                                    {% if daySetting['type'] == 'closed' %}selected="&quot;selected&quot;"{% endif %}>
                                Closed
                            </option>
                        </select>
                        {% if daySetting['slots'] is defined and daySetting['type'] == 'open' %}
                            <div id="hours_open" class="hours ">
                                <div class="relative">
                                    <input type="text" class="loc_time selectpicker-time ui-timepicker-input"
                                           id="{{ key }}_start_time" placeholder="Start time"
                                           name="singappbundle_businessinfo[openingHours][days][{{ key }}][slots][][start]"
                                           value="{{ daySetting['slots'][0]['start'] }}" onkeydown="return false"
                                           autocomplete="off">
                                    <input type="text" class="loc_time selectpicker-time ui-timepicker-input"
                                           id="{{ key }}_end_time" placeholder="End time"
                                           name="singappbundle_businessinfo[openingHours][days][{{ key }}][slots][][end]"
                                           value="{{ daySetting['slots'][1]['end'] }}" onkeydown="return false"
                                           autocomplete="off">
                                </div>
                            </div>
                        {% else %}
                            <div id="hours_open" class="hours hide">
                                <div class="relative">
                                    <input type="text" class="loc_time selectpicker-time ui-timepicker-input"
                                           id="{{ key }}_start_time" placeholder="Start time"
                                           name="singappbundle_businessinfo[openingHours][days][{{ key }}][slots][][start]"
                                           value="07:30am" onkeydown="return false"
                                           autocomplete="off">
                                    <input type="text" class="loc_time selectpicker-time ui-timepicker-input"
                                           id="{{ key }}_end_time" placeholder="End time"
                                           name="singappbundle_businessinfo[openingHours][days][{{ key }}][slots][][end]"
                                           value="07:30pm" onkeydown="return false"
                                           autocomplete="off">
                                </div>
                            </div>
                        {% endif %}

                        <div id="hours_closed" class="hide hours"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="control-group col-md-12 col-sm-12" style="display: none">
            {{ form_row(form.paymentOptions) }}
        </div>
        <div class="col-md-12">
            <div class="checkbox">
                <input type="checkbox" id=""
                       name="singappbundle_businessinfo[payment_methods][]" {% if 'Visa' in form.paymentOptions.vars.value %} checked {% endif %}
                       value="Visa">
                <label for="">
                    <img class="checkbox-img" src="/images/edit-business-modal/visa.png" alt="">
                </label>
                <input type="checkbox" id=""
                       name="singappbundle_businessinfo[payment_methods][]" {% if 'American Express' in form.paymentOptions.vars.value %} checked {% endif %}
                       value="American Express">
                <label for="">
                    <img class="checkbox-img" src="/images/edit-business-modal/american-express.png" alt="">
                </label>
                <input type="checkbox" id=""
                       name="singappbundle_businessinfo[payment_methods][]" {% if 'Master Card' in form.paymentOptions.vars.value %} checked {% endif %}
                       value="Master Card">
                <label for="">
                    <img class="checkbox-img" src="/images/edit-business-modal/master-card.png" alt="">
                </label>
                <input type="checkbox" id=""
                       name="singappbundle_businessinfo[payment_methods][]"{% if 'Cash' in form.paymentOptions.vars.value %} checked {% endif %}
                       value="Cash">
                <label for="">
                    <img class="checkbox-img" src="/images/edit-business-modal/cash.png" alt="">
                </label>
                <input type="checkbox" id=""
                       name="singappbundle_businessinfo[payment_methods][]"{% if 'Cheque' in form.paymentOptions.vars.value %} checked {% endif %}
                       value="Cheque">
                <label for="">
                    <img class="checkbox-img" src="/images/edit-business-modal/cheque.png" alt="">
                </label>
            </div>
        </div>
        <div class="buttons-click">
            <button class="btn btn-info btnNext">Next</button>
            <button class="btn btn-info btnPrevious">Previous</button>
        </div>

    </div>
    <div role="tabpanel" class="tab-pane fade" id="media">
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.video) }}
        </div>
        <div class="control-group col-md-6 col-sm-12">
            {{ form_row(form.uploadedFiles) }}
        </div>
        <div class="buttons-click">
            <button class="btn btn-info btnPrevious">Previous</button>
        </div>
    </div>

</div>
<div class="footer-add-business">
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{ url('index', app.request.query.all) }}" style="float:right">Back to listings</a>
</div>
{{ form_end(form) }}
{% block javascripts %}
    <script src="{{ asset('js/intlTelInput.min.js') }}"></script>
    <script>
//         function initAutocomplete() {
//             geocoder = new google.maps.Geocoder();
//             new google.maps.places.Autocomplete(
//                 (document.getElementById('singappbundle_businessinfo_address'))/*,
//      {types: ['(cities)']}*/);
//         }

        $(document).ready(function () {
            $('.btnNext').click(function (e) {
                e.preventDefault()
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
            });

            $('.btnPrevious').click(function (e) {
                e.preventDefault()
                $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            });
            {% if business is not null %}
            if ('{{ business.logo }}') {
                var html = '<img style="width: 12%" src="{{ asset(''~business.logo~'') }}" >';
                $('#singappbundle_businessinfo_logo').parent().append(html)
            }
            {% for photo in business.photos %}
            if ('{{ photo.image }}') {
                html = '<img style="width: 12%" src="{{ asset(''~photo.image~'') }}" >';
                $('#singappbundle_businessinfo_uploadedFiles').parent().append(html)
            }
            {% endfor %}
            {% endif %}

            $("#singappbundle_businessinfo_phoneNumber").intlTelInput({
                // allowDropdown: false,
                autoHideDialCode: false,
                //autoPlaceholder: "on",
                // dropdownContainer: "body",
                // excludeCountries: ["us"],
                //formatOnDisplay: true,
                //hiddenInput: "full_number",
                //initialCountry: "auto",
                // localizedCountries: { 'de': 'Deutschland' },
                nationalMode: false,
                hiddenInput: "phone[receivers_internationl][]",
                // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                placeholderNumberType: "MOBILE",
                customPlaceholder: function (selectedCountryPlaceholder, selectedCountryData) {
                    return selectedCountryPlaceholder;
                },
                preferredCountries: ['au', 'nz', 'gbr'],
                separateDialCode: true,
                utilsScript: "{{ asset('js/utils.js') }}"
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRHvLJquH2iffBOH8ZJxru_35JGX_15mA&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}


