{% extends '@SingApp/layouts/base.html.twig' %}
{% block body %}
    <div class="products">
        {% include '@SingApp/layouts/navigation.html.twig' %}
        <div class="messages">
            <div class="card">
                <div class="product-card-header">
                    <div class="card-header-title">
                        <span class="card-title">
                            Your posts
                        </span>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#createPost">
                            <i class="fas fa-plus"></i>
                            Add
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav">
                            <li class="active">
                                <a class="{% if app.request.attributes.get('_route') in ['instagram-post'] %}selected{% endif %}"
                                   href="{{ url('instagram-post', app.request.query.all) }}">
                                    <img src="{{ asset('images/icons/instagram.svg') }}" alt="" width="24" height="24">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a class="{% if app.request.attributes.get('_route') in ['google-post'] %}selected{% endif %}"
                                   href="{{ url('google-post', app.request.query.all) }}">
                                    <i class="icon-link-google" title="Google"></i>
                                    Google My Business Posts
                                </a>
                            </li>
                            <li>
                                <a class="{% if app.request.attributes.get('_route') in ['facebook-post'] %}selected{% endif %}"
                                    href="{{ url('facebook-post', app.request.query.all) }}">
                                    <img src="{{ asset('images/icons/facebook.png') }}" alt="" width="24" height="24">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a class="{% if app.request.attributes.get('_route') in ['pinterest-post'] %}selected{% endif %}"
                                   href="{{ url('pinterest-post', app.request.query.all) }}">
                                    <img src="{{ asset('images/icons/pinterest.png') }}" alt="" width="24" height="24">
                                    Pinterest
                                </a>
                            </li>
                            <li>
                                <a class="{% if app.request.attributes.get('_route') in ['youtube-post'] %}selected{% endif %}"
                                   href="{{ url('youtube-post', app.request.query.all) }}">
                                    <img src="{{ asset('images/icons/youtube.png') }}" alt="" width="24" height="24">
                                    Youtube
                                </a>
                            </li>
                            <li>
                                <a class="{% if app.request.attributes.get('_route') in ['linkedin-post'] %}selected{% endif %}"
                                   href="{{ url('linkedin-post', app.request.query.all) }}">
                                    <img src="{{ asset('images/icons/linkedin.png') }}" alt="" width="24" height="24">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div id="linkedin">
                            {% if account %}
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Caption</th>
                                        <th>Post date</th>
                                        <th>Post status</th>
                                        {% if canDelete %}
                                            <th></th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for post in posts %}
                                        <tr>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.caption }}</td>
                                            <td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>
                                            <td>{{ post.status }}</td>
                                            {% if canDelete %}
                                                <td>
                                                    <a href="{{ url(~service~'-delete', {'post': post.id }) }}"
                                                       class="btn btn-default btn-sm">
                                                        <i class="far fa-trash-alt"></i>Delete
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="linkedin-connect-cont">
                                    <div class="linkedin-main-page">
                                        <div class="linkedin-login-page">
                                            {{ getPostButton(service, currentBusiness, app.user)|raw }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    {#{% include '@SingApp/modal/instagram-account.html.twig' with {'instagramAccountForm': instagramAccountForm} %}#}
    {% include '@SingApp/modal/post-modal.html.twig' with {'form': form, 'service': service, 'massage' : massage} %}
{% endblock %}