{% extends '@SingApp/layouts/base.html.twig' %}
{% block body %}
    {% block stylesheets %}
        <style>
            #appbundle_instagram_account_loginForm {
                display: none;
            }
        </style>
    {% endblock %}
    <div class="products">
        {% include '@SingApp/layouts/navigation.html.twig' %}
        <div class="messages">
            <div class="card">
                <div class="product-card-header">
                    <div class="card-header-title">
                        <span class="card-title">
                            Your posts
                        </span>
                    </div>
                    <div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#createPost">
                            <i class="fas fa-plus"></i>
                            Add
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active">
                                <a href="#instagram" data-toggle="tab" data-tab-history="true"
                                   data-tab-history-changer="push"
                                   data-tab-history-update-url="true">
                                    <img src="{{ asset('images/icons/instagram.svg') }}" alt="" width="24" height="24">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#google" data-toggle="tab" data-tab-history="true"
                                   data-tab-history-changer="push"
                                   data-tab-history-update-url="true">
                                    <i class="icon-link-google" title="Google"></i>
                                    Google My Business Posts
                                </a>
                            </li>
                            <li>
                                <a href="#facebook" data-toggle="tab" data-tab-history="true"
                                   data-tab-history-changer="push"
                                   data-tab-history-update-url="true">
                                    <img src="{{ asset('images/icons/facebook.png') }}" alt="" width="24" height="24">
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#pinterest" data-toggle="tab" data-tab-history="true"
                                   data-tab-history-changer="push"
                                   data-tab-history-update-url="true">
                                    <img src="{{ asset('images/icons/pinterest.png') }}" alt="" width="24" height="24">
                                    Pinterest
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="instagram">
                                <span class="card-title">
                                    Your instagram accounts:
                                </span>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Login</th>
                                        <th>Password</th>
                                        <th>
                                            {% if instagramAccount is null %}
                                                <button class="btn btn-primary" data-toggle="modal"
                                                        data-target="#createInstagramAccount">
                                                    <i class="fas fa-plus"></i> Add
                                                </button>
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                    {% if instagramAccount is not null %}
                                        <tbody>
                                        <tr>
                                            <td>{{ instagramAccount.name }}</td>
                                            <td>{{ instagramAccount.login }}</td>
                                            <td>{{ instagramAccount.password }}</td>
                                            <td>
                                                <a href="{{ url('instagram-account-edit', {'instagramAccount': instagramAccount.id }) }}"
                                                   class="btn btn-default btn-sm">
                                                    <i class="far fa-edit"></i> Edit
                                                </a>
                                                <a href="{{ url('instagram-account-delete', {'instagramAccount': instagramAccount.id }) }}"
                                                   class="btn btn-default btn-sm btn-delete">
                                                    <i class="far fa-trash-alt"></i> Delete
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    {% endif %}
                                </table>
                                <hr>
                                <span class="card-title">
                                   Your instagram posts:
                               </span>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Caption</th>
                                        <th>Account</th>
                                        <th>Post date</th>
                                        <th>Post status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for post in posts %}
                                        {% if post.socialNetwork == 'instagram' %}
                                            <tr>
                                                <td>{{ post.title }}</td>
                                                <td>{{ post.caption }}</td>
                                                <td>
                                                    {% if post.account %}
                                                        {{ post.account.name }}
                                                    {% else %}
                                                        Not selected
                                                    {% endif %}
                                                </td>
                                                <td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>
                                                <td>{{ post.status }}</td>
                                                <td>
                                                    <a href="{{ url('instagram-post-edit', {'instagramPost': post.id }) }}"
                                                       class="btn btn-default btn-sm">
                                                        <i class="far fa-edit"></i> Edit
                                                    </a>
                                                    <a href="{{ url('instagram-post-delete', {'instagramPost': post.id }) }}"
                                                       class="btn btn-default btn-sm btn-delete">
                                                        <i class="far fa-trash-alt"></i> Delete
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="google">
                                {% if googleAccount %}
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Caption</th>
                                            <th>Post date</th>
                                            <th>Post status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            {% if post.socialNetwork == 'google' %}
                                                <tr>
                                                    <td>{{ post.title }}</td>
                                                    <td>{{ post.caption }}</td>
                                                    <td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>
                                                    <td>{{ post.status }}</td>
                                                    <td>
                                                        <a href="{{ url('instagram-post-delete', {'instagramPost': post.id }) }}"
                                                           class="btn btn-default btn-sm">
                                                            <i class="far fa-trash-alt"></i>Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="google-connect-cont">
                                        <div class="insights-main-page">
                                            <div class="insights-login-page">
                                                <a href="{{ url('google-auth', {'url' : 'social-network-posts'}) }}">
                                                    <img src="{{ asset('images/google-connect-btn.png') }}"
                                                         alt="Google connect">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane" id="pinterest">
                                {% if pinterestAccount %}
                                    <ul class="nav nav-tabs">
                                        <li><a href="{{ url('boards-list', clearQuery(app.request.query.all)) }}">Boards</a></li>
                                    </ul>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Caption</th>
                                            <th>Post date</th>
                                            <th>Post status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            {% if post.socialNetwork == 'pinterest' %}
                                                <tr>
                                                    <td>{{ post.title }}</td>
                                                    <td>{{ post.caption }}</td>
                                                    <td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>
                                                    <td>{{ post.status }}</td>
                                                    <td>
                                                        <a href="{{ url('pin-edit', {'pinterestPin': post.id }) }}"
                                                           class="btn btn-default btn-sm">
                                                            <i class="far fa-edit"></i> Edit
                                                        </a>
                                                        <a href="{{ url('pin-delete', {'pinterestPin': post.id }) }}"
                                                           class="btn btn-default btn-sm">
                                                            <i class="far fa-trash-alt"></i>Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="google-connect-cont">
                                        <div class="insights-main-page">
                                            <div class="insights-login-page">
                                                <a href="{{ url('pinterest-auth', {'url' : 'social-network-posts'}) }}">
                                                    <img style="width: 9%;" src="{{ asset('images/pinterest-connect-btn.png') }}"
                                                         alt="Google connect">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="tab-pane" id="facebook">
                                {% if facebookAccount %}
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Caption</th>
                                            <th>Post date</th>
                                            <th>Post status</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for post in posts %}
                                            {% if post.socialNetwork == 'facebook' %}
                                                <tr>
                                                    <td>{{ post.title }}</td>
                                                    <td>{{ post.caption }}</td>
                                                    <td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>
                                                    <td>{{ post.status }}</td>
                                                    <td>
                                                        <a href="{{ url('instagram-post-delete', {'instagramPost': post.id }) }}"
                                                           class="btn btn-default btn-sm">
                                                            <i class="far fa-trash-alt"></i>Delete
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="facebook-connect-cont">
                                        <div class="insights-main-page">
                                            <div class="insights-login-page">
                                                <a href="{{ url('facebook-auth') }}">
                                                    <img src="{{ asset('images/facebook-button-connect.png') }}"
                                                         alt="Facebook connect" height="50">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
                {#{% if activeServices is empty %}#}
                {#<div class="center-block" style="text-align: center;">#}
                {#<h3>You hav't any connected services!</h3>#}
                {#<a class="btn btn-primary" href="{{ url('index', app.request.query.all) }}">Connect to services</a>#}
                {#</div>#}
                {#{% else %}#}
                {#<div class="product-card-header">#}
                {#<div class="card-header-title">#}
                {#<span class="card-title">#}
                {#Your posts#}
                {#</span>#}
                {#</div>#}
                {#<div>#}
                {#<button class="btn btn-primary" data-toggle="modal"#}
                {#data-target="#createPost">#}
                {#<i class="fas fa-plus"></i> Add#}
                {#</button>#}
                {#</div>#}
                {#</div>#}
                {#<hr>#}
                {#<div class="row">#}
                {#<div class="col-md-2">#}
                {#<h3>Active services</h3>#}
                {#<ul class="nav">#}
                {#{% for service in activeServices %}#}
                {#<li>#}
                {#<img src="{{ asset('images/icons/'~class(service)~'.svg') }}" alt="" width="24"#}
                {#height="24">#}
                {#Instagram#}
                {#</li>#}
                {#{% endfor %}#}
                {#</ul>#}
                {#</div>#}
                {#<div class="col-md-10">#}
                {#<table class="table table-striped">#}
                {#<thead>#}
                {#<tr>#}
                {#<th>Title</th>#}
                {#<th>Caption</th>#}
                {#<th>Account</th>#}
                {#<th>Post date</th>#}
                {#<th>Post status</th>#}
                {#<th></th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#{% for post in posts %}#}
                {#{% if post.socialNetwork == 'instagram' %}#}
                {#<tr>#}
                {#<td>{{ post.title }}</td>#}
                {#<td>{{ post.caption }}</td>#}
                {#<td>#}
                {#{% if post.account %}#}
                {#{{ post.account.name }}#}
                {#{% else %}#}
                {#Not selected#}
                {#{% endif %}#}
                {#</td>#}
                {#<td>{{ post.postDate|date('Y-m-d H:i:s') }}</td>#}
                {#<td>{{ post.status }}</td>#}
                {#<td>#}
                {#<a href="{{ url('instagram-post-delete', {'instagramPost': post.id }) }}">#}
                {#<i class="far fa-trash-alt"></i>Delete#}
                {#</a>#}
                {#</td>#}
                {#</tr>#}
                {#{% endif %}#}
                {#{% endfor %}#}
                {#</tbody>#}
                {#</table>#}
                {#</div>#}
                {#</div>#}
                {#{% endif %}#}
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    {% include '@SingApp/modal/instagram-account.html.twig' with {'instagramAccountForm': instagramAccountForm} %}
    <!-- Modal -->
    <div class="modal fade" id="createPost" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create posts</h4>
                </div>
                <form action="{{ url('social-network-posts-create') }}" class="create-post-form" method="POST"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" id="title" name="title" placeholder="Title"
                                   required>
                        </div>
                        <div class="form-group pinterest" style="display: none">
                            <input class="form-control" type="text" id="link" name="link" placeholder="Link pin"
                                   required>
                        </div>
                        <div class="form-group pinterest" style="display: none">
                            {{ getBoardSelect(pinterestAccount) | raw }}
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="caption" id="caption" rows="5" placeholder="Caption"
                                      style="width: 93% !important" required></textarea>
                        </div>
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="$('#media').click()">Upload media</a>
                            <input type="file" id="media" name="media[]" style="display: none;"
                                   class="form-control"
                                   multiple>
                        </div>
                        <table role="presentation" class="table table-striped">
                            <tbody class="preview-media-zone">

                            </tbody>
                        </table>

                        <div class="form-group">
                            <select id="socials" class="selectpicker" multiple data-style="btn-primary"
                                    data-none-selected-text="Select social networks" name="socials[]" required>
                                <option value="instagram">Instagram</option>
                                <option value="pinterest">Pinteres</option>
                                <option value="facebook">Facebook</option>
                                <option value="google">Google</option>
                            </select>
                        </div>
                        <div class="custom-checkbox" style="display: inline-block;">
                            <label>
                                <input type="checkbox" name="schedule" id="schedule">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Schedule
                            </label>
                        </div>
                        <div class="form-group post-date-input" style="display: none;">
                            <label for="postDate">Post date:</label>
                            <input type="text" class="js-datepicker form-control" name="postDate">
                            <input type="hidden" name="timezoneOffset" id="timezoneOffset">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/bootstrap-tab-history.js') }}"></script>
    <script>
        var showNot = true;
        $(document).ready(function () {
            document.getElementById('media').addEventListener('change', previewMedia, false);

            /*$(".preview-images-zone").sortable();*/

            $(document).on('click', '.delete-preview', function () {
                let no = $(this).data('preview');
                $("#preview-" + no).remove();
            });

            $('#schedule').change(function (e) {
                if (e.currentTarget.checked) {
                    var offset = new Date().getTimezoneOffset() / 60;

                    $('.post-date-input').css('display', 'block');
                    $('input[name=postDate]').attr('required', true);
                    $('#timezoneOffset').val(offset);
                } else {
                    $('.post-date-input').css('display', 'none');
                    $('input[name=postDate]').removeAttr('required');
                    $('#timezoneOffset').val('');

                }
            });

            $('#socials').on('change', function() {
                var value = $(this).val();
                if($.inArray("pinterest", value) !== -1){
                    if($(document).find('span.error-api').length === 1) {
                        $.notify({
                            title: "<strong>Error!</strong> ",
                            message: 'Api not work please try create pinterest pin later'
                        }, {
                            type: 'danger',
                            position: 'absolute',
                            z_index: 99999999
                        });
                    }else {
                        if (showNot === true) {
                            $.notify({
                                title: "<strong>Warning!</strong> ",
                                message: 'Pinterest Pin allows you to upload one photo, so for pinterest choose the first uploaded'
                            }, {
                                type: 'warning',
                                position: 'absolute',
                                z_index: 99999999
                            });
                            showNot = false;
                        }
                        $('.pinterest').css({'display' : 'block'})
                    }
                }else{
                    $('.pinterest').css({'display' : 'none'})
                }
            });

        });


        var num = 4;

        function previewMedia() {
            if (window.File && window.FileList && window.FileReader) {
                var files = event.target.files; //FileList object
                var output = $(".preview-media-zone");

                for (let i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (file.type.match('image')) {
                        var picReader = new FileReader();

                        picReader.addEventListener('load', function (event) {
                            var picFile = event.target;
                            var html = '<tr class="template-upload fade in" id="preview-' + num + '">' +
                                '        <td>' +
                                '            <span class="preview"><img src="' + picFile.result + '" alt="" height="100"></span>' +
                                '        </td>' +
                                '        <td>' +
                                '            <p class="name">' + file.name + '</p>' +
                                '            <strong class="error text-danger"></strong>' +
                                '        </td>' +
                                '        <td>' +
                                '            <p class="size">' + bytesToSize(file.size) + '</p>' +
                                '        </td>' +
                                '        <td>' +
                                '                <a class="btn btn-warning cancel delete-preview" data-preview="' + num + '">' +
                                '                    <i class="glyphicon glyphicon-ban-circle"></i>' +
                                '                    <span>Delete</span>' +
                                '                </a>' +
                                '            ' +
                                '        </td>' +
                                '    </tr>';


                            output.append(html);
                            num = num + 1;
                        });

                        picReader.readAsDataURL(file);
                    }
                    else if (file.type.match('video')) {
                        var html = '<tr class="template-upload fade in" id="preview-' + num + '">' +
                            '        <td>' +
                            '            <span class="preview">' +
                            '<video width="150" controls>' +
                            '  <source src="mov_bbb.mp4" id="pro-img-' + num + '">' +
                            '    Your browser does not support HTML5 video.' +
                            '</video>' +
                            '</span>' +
                            '        </td>' +
                            '        <td>' +
                            '            <p class="name">' + file.name + '</p>' +
                            '            <strong class="error text-danger"></strong>' +
                            '        </td>' +
                            '        <td>' +
                            '            <p class="size">' + bytesToSize(file.size) + '</p>' +
                            '        </td>' +
                            '        <td>' +
                            '                <a class="btn btn-warning cancel delete-preview" data-preview="' + num + '">' +
                            '                    <i class="glyphicon glyphicon-ban-circle"></i>' +
                            '                    <span>Delete</span>' +
                            '                </a>' +
                            '            ' +
                            '        </td>' +
                            '    </tr>';


                        output.append(html);

                        var $source = $('#pro-img-' + num);
                        $source[0].src = URL.createObjectURL(file);
                        $source.parent()[0].load();

                        num = num + 1;

                    }


                }

            } else {
                console.log('Browser not support');
            }
        }

        function bytesToSize(bytes) {
            var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
            if (bytes == 0) return '0 Byte';
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
        };


    </script>
{% endblock %}