{% extends 'base.html.twig' %}

{% block body %}
    <h1>Servicessetting creation</h1>

    {{ form_start(form) }}
        <div class="facebook">
            <span>Add facebook settings</span>
            {{ form_row(form.facebook_app_id) }}
            {{ form_row(form.app_secret) }}
            {{ form_row(form.page_id) }}
            {{ form_row(form.facebook_app_id) }}
            {{ form_row(form.token) }}
        </div>
        <div class="google">
            <span>Add google settings</span>
            {{ form_row(form.place_id) }}
            {{ form_row(form.app_key) }}
        </div>
        <div class="ratemyagent">
            <span>Add ratemyagent settings</span>
            {{ form_row(form.agent_key) }}
        </div>
        <div class="tripadvisor">
            <span>Add tripadvisor settings</span>
            {{ form_row(form.tripadvisor_location_id) }}
            {{ form_row(form.tripadvisor_access_token) }}
        </div>
        <div class="whitecoat">
            <span>Add whitecoat settings</span>
            {{ form_row(form.whitecoat_id) }}
        </div>
        <div class="yelp">
            <span>Add yelp settings</span>
            {{ form_row(form.yelp_business_id) }}
            {{ form_row(form.yelp_access_token) }}
        </div>
        <div class="zomato">
            <span>Add zomato settings</span>
            {{ form_row(form.zomato_business_id) }}
            {{ form_row(form.zomato_access_token) }}
        </div>
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('services-setting_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
